.progress-sec{
    position: relative;
    .bg-img{
        position: absolute;
        top: 0;
        right: 0;
    }
    .logo{
        padding-top: 60px;
        margin-bottom: 50px;
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 135%;
        color: #FEAE00;
        margin-bottom: 8px;
    }
    button{
        padding: 15px;
        margin-top: 15px;
    }
}


.modal-content{
    background: #212529;
    border: 1px solid #212529;
    border-radius: 10px;
    padding: 40px !important;
    h6{
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 135%;
        text-align: center;
        text-transform: uppercase;
        color: #FEAE00;
        padding-bottom: 20px;
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        text-align: center;
        color: #5E5E85;
        padding-bottom: 30px;
    }
    button{
        width: 100%;
   //     height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal-body{
    padding: 0 !important;
}

.table-responsive{
  .table{
    border: 2px solid #FEAE00 !important;
  }
    .table thead th{
        border: unset !important;
    }
    th{
        border: 2px solid #FEAE00;
        color: #fff;
    }
    td{
        border: 2px solid #FEAE00;
        color: #fff;
    }
}
.bhbd{
    width:260px;
}

@media (max-width:600px){
    .progress-sec{
       button{
        width: 100%;
       }
    }
}